:root {
    --negro: #000;
    --blanco: #fff;
    --verde: #1ed760;
}

html {
    box-sizing: border-box;
    font-family: helvetica, arial;
    font-size: 16px;
}


/* Estilos del header */

.header-principal {
    align-items: center;
    background: var(--negro);
    display: flex;
    justify-content: space-around;
    min-height: 80px;
}

.img-container {
    width: 13%;
    margin-right: 10%;
}

.img-container img {
    width: 100%;
}

.header-principal .full {
    display: none;
}

.header-principal nav {
    display: flex;
    justify-content: space-between;
}

.header-principal nav a {
    color: var(--blanco);
    font-size: 1.125rem;
    text-decoration: none;
}

.header-principal nav a:hover {
    color: var(--verde);
}

.header-principal nav span {
    color: var(--blanco);
}

@media only screen and (min-width:992px) {
    .header-principal .full {
        display: flex;
        width: 50%;
    }
    .header-principal .movil {
        display: none;
    }
}